.rrsa {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: Arial, sans-serif;
}
.rrsa,
.rrsa-line {
  position: relative;
  display: block;
}
.rrsa-line {
  overflow: hidden;
  outline: none !important;
}
.rrsa-line-left,
.rrsa-line-mid,
.rrsa-line-right {
  position: absolute;
  display: block;
  top: 0;
}
.rrsa-line-left {
  left: 0;
  width: 11%;
}
.rrsa-line-mid {
  left: 9%;
  width: 82%;
}
.rrsa-line-right {
  right: 0;
  width: 11%;
}
.rrsa-bar {
  width: 0;
}
.rrsa-bar,
.rrsa-bar-edge {
  position: absolute;
  display: block;
  left: 0;
}
.rrsa-bar-edge {
  top: 0;
}
.rrsa-shadow {
  position: absolute;
  display: none;
  left: 0;
  width: 0;
}
.rrsa-slider {
  position: absolute;
  display: block;
  cursor: default;
  z-index: 1;
}
.rrsa-slider.type_last {
  z-index: 2;
}
.rrsa-min {
  left: 0;
}
.rrsa-max,
.rrsa-min {
  position: absolute;
  display: block;
  cursor: default;
}
.rrsa-max {
  right: 0;
}
.rrsa-from,
.rrsa-single,
.rrsa-to {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  cursor: default;
  white-space: nowrap;
}
.rrsa-grid {
  position: absolute;
  display: none;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20px;
}
.rrsa-with-grid .rrsa-grid {
  display: block;
}
.rrsa-grid-pol {
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 8px;
  background: #000;
}
.rrsa-grid-pol.small {
  height: 4px;
}
.rrsa-grid-text {
  position: absolute;
  bottom: 0;
  left: 0;
  white-space: nowrap;
  text-align: center;
  font-size: 9px;
  line-height: 9px;
  padding: 0 3px;
  color: #000;
}
.rrsa-disable-mask {
  position: absolute;
  display: block;
  top: 0;
  left: -1%;
  width: 102%;
  height: 100%;
  cursor: default;
  background: transparent;
  z-index: 2;
}
.lt-ie9 .rrsa-disable-mask {
  background: #000;
  filter: alpha(opacity=0);
  cursor: not-allowed;
}
.rrsa-disabled {
  opacity: 0.4;
}
.rrsa-hidden-input {
  position: absolute !important;
  display: block !important;
  top: 0 !important;
  left: 0 !important;
  width: 0 !important;
  height: 0 !important;
  font-size: 0 !important;
  line-height: 0 !important;
  padding: 0 !important;
  margin: 0 !important;
  overflow: hidden;
  outline: none !important;
  z-index: -9999 !important;
  background: none !important;
  border-style: solid !important;
  border-color: transparent !important;
}
.rrsa-bar,
.rrsa-bar-edge {
  background-color: #ff2a2c;
}
.rrsa-line-left,
.rrsa-line-mid,
.rrsa-line-right {
  background-color: #e1e4e9;
}
.rrsa {
  height: 50px;
}
.rrsa-with-grid {
  height: 70px;
}
.rrsa-line {
  height: 6px;
  top: 25px;
}
.rrsa-line-left {
  height: 6px;
  border-radius: 5px;
  background-position: 0 -30px;
}
.rrsa-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  top: 32px;
  filter: brightness(1);
}
.rrsa-pointer {
  position: absolute;
  left: -3.5px;
  width: 0px;
  height: 0;
  border-left: 5.9px solid transparent;
  border-right: 5.9px solid transparent;
  border-bottom: 6px solid #999;
}
.rrsa-pointer::after {
  content: "";
  position: absolute;
  top: 1px;
  left: -5px;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5.5px solid #e1e4e9;
}
.rrsa-handle {
  position: absolute;
  margin-top: 5.6px;
  left: -3.5px;
  width: 9px;
  height: 10px;
  background: #e1e4e9;
  border-radius: 1px 1px 3px 3px;
  border-left: 1.3px solid #999;
  border-right: 1.3px solid #999;
  border-bottom: 1px solid #999;
}
.rrsa-lines-container{
    display: flex;
    flex-direction: row;
    position: relative;
    top: 7px;
    gap: 2px;
    z-index: 1;
}
.rrsa-left-line, .rrsa-right-line{
  width: 1px;
  height: 5px;
  background-color: #232222b0;
}
.rrsa-container:hover {
  filter: brightness(0.9);
}
.rrsa-line-mid {
  height: 6px;
  background-position: 0 0;
}
.rrsa-line-right {
  height: 6px;
  border-radius: 5px;
  background-position: 100% -30px;
}
.rrsa-bar {
  height: 6px;
  top: 25px;
  border-radius: 5px;
  background-position: 0 -60px;
}
.rrsa-bar-edge {
  top: 25px;
  height: 6px;
  width: 6px;
  background-position: 0 -90px;
}
.rrsa-shadow {
  height: 5px;
  top: 25px;
  background: #000;
  opacity: 0.25;
}
.lt-ie9 .rrsa-shadow {
  filter: alpha(opacity=25);
}
.rrsa-slider {
  width: 11px;
  height: 18px;
  top: 31px;
  background-position: 0 -120px;
}
.rrsa-slider.state_hover,
.rrsa-slider:hover {
  background-position: 0 -150px;
}
.rrsa-max,
.rrsa-min {
  color: #999;
  top: 0;
  padding: 1px 3px;
  background: #e1e4e9;
}
.rrsa-from,
.rrsa-max,
.rrsa-min,
.rrsa-single,
.rrsa-to {
  font-size: 10px;
  line-height: 1.333;
  text-shadow: none;
  border-radius: 4px;
}
.rrsa-from,
.rrsa-single,
.rrsa-to {
  color: #fff;
  padding: 1px 5px;
  background: #ff2a2c;
}
.rrsa-from:after,
.rrsa-single:after,
.rrsa-to:after {
  position: absolute;
  display: block;
  content: "";
  bottom: -6px;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -3px;
  overflow: hidden;
  border: 3px solid transparent;
  border-top-color: #ff2a2c;
}
.rrsa-grid {
  height: 34px;
}
.rrsa-grid-pol {
  background: silver;
}
.rrsa-grid-text {
  bottom: 12px;
  color: silver;
}
